.form-control {
  margin: 0.5rem 0;
  /* padding: 0.5rem; */
}

.form-control label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: left;
}

.form-control input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  line-height: 1.5rem;
  border-radius: 5px;

}
